/* tablet & phone */
@media (max-width: 1023px) {

}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* phone */
@media (max-width: 767px) {
    #contact .input-form {
        width: 100%;
    }

    .footer--left,
    .footer--right,
    .footer--center {
        text-align: center;
        margin: 30px 0;
    }

    .footer--left .logo {
        margin: 10px auto;
    }

  
}

/* pc */
@media (min-width: 1024px) {

}